{% extends 'base.html' %}
{% block content %}
	{%load plotly_dash%}
	<div class="container">
		<p>Для перехода на главную страницу нажмите на название сайта в левом верхнем углу.</p>
		<p>Для знакомства с методическими указниями, нажмите на ссылку в левом верхнем углу.</p>
		<p>Для проведения нового эксперимента нажмите кнопку "Провести новый эксперимент" на главной странице.</p>
		<p>После задания параметров эксперимента, нажмите кнопку "Рассчитать".</p>
		<p>Кнопка "Сброс" сбросит параметры эксперимента до стандартных значений.</p>
		<p>Сохранение параметров эксперимента доступно только для авторизованных пользователей.
			Для регистрации нажмите кнопку "Регистрация" в правом верхнем углу,
			если у вас уже есть аккаунт, нажмите кнопку "Вход" в правом верхнем углу.</p>
		<p>Для сохранения параметров эксперимента нажмите кнопку "Сохранить" на странице проведения эксперимента.
			Перед вами появится окно, в котором надо будет ввести название нового набора парметров и либо сохранить их, либо отказаться от сохранения.</p>
		<p>Список сохраненных экспериментов, вы можете найти в профиле пользователя,
			чтобы перейти в него, нажмите на Имя и Фамилию в правом верхнем углу, в открывшемся списке нажмите "Профиль".
			В открывшемся списке, нажмите на заголовок интересующего вас набора парметров, чтобы перейти на страницу проведения эксперимента, которая будет заполнена выбранными параметрами</p>
		<div class="exper">
			<a class="new-experiment-button" href="{% url 'experiment' %}">Провести новый эксперимент</a>
		</div>
	</div>
{% endblock %}