{% extends 'base.html' %}
{% load static %}
{% block title %} Методические указания {% endblock %}
{% block content %}
<div class="container">
	<h1>Методические указания</h1>
	<p class="meth-description">Предлагаемый виртуальный лабораторный практикум позволяет исследовать поведение оптического импульса в нелинейном оптическом волокне.</p>
	<p class="meth-description">При этом подлежат разработке следующие вопросы:</p>
	<p class="meth-description">а) получение математической модели исследуемой системы в соответ-ствии с полученным вариантом задания;</p>
	<p class="meth-description">б) получение вычислительной модели;</p>
	<p class="meth-description">в) проведение вычислительных экспериментов;</p>
	<p class="meth-description">г) оформление отчётных материалов по результатам выполнения работы.</p>
	<p class="meth-description">Краткое теоретическое описание исследуемой системы, рекомендации по выполнению исследований и примерный перечень заданий для исследований описаны в методических указаниях.</p>
	<a href="{% static 'MU.pdf' %}" class="meth-link">Файл с методичекими указаниями</a>
	</div>
{% endblock %}