{% extends 'base.html' %}
{% block title %} Регистрация {% endblock %}
{% block content %}
<div class="input-form">
	<form action="{% url 'register' %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<div class="alert">
						{{ message }}
					</div>
				{% else %}
					<div class="success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		<button class="accept-button" type="submit">Регистрация</button>
	</form>
</div>
{% endblock %}